/* .footer {
    padding-bottom: 40px;
} */

.footer__container {
    /* border-top: 2px solid #F8F8F8; */
    border-top: 2px solid #FFC700;
    padding-top: 50px;

    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 40px 126px;
    grid-template-areas: 
        'logo social contact'
        'copyright . developer';
}

.footer__logo {
    grid-area: logo;
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__social {
    flex-direction: row;
    grid-area: social;
    gap: 24px;
    justify-self: end;
    padding-top: 8px;
}

.footer__contact {
    grid-area: contact;
    gap: 16px;
    padding-top: 8px;
}

.footer__copyrigh {
    grid-area: copyright;
}

.footer__copyright-top {
    margin: 0;
}

.footer__developer {
    grid-area: developer;
    gap: 8px;
}

.footer__link-social {
    line-height: 0;
    display: inline-block;
}

.footer__link-top {
    padding-top: 1.3px;
}

.footer__link-contact {
    display: flex;
    align-items: center;
    gap: 8px;
}




